.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.container {
  /* background-color: #003049; */
  width: 90%;
  /* height: auto; */
  max-height: 250px;
  margin: 0 auto;
  /* border: 5px solid #003049; */
  display: flex;
  /* flex-direction: column;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.container div {
  width: 200px;
  height: 200px;
  max-width: 300px;
  text-align: center;
  flex-basis: 500px;
}

.container p {
  text-align: center;
}
