.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.container {
  background-color: #003049;
  width: 1000px;
  height: 300px;
  /* max-height: 200px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.container div {
  width: 50px;
  height: 50px;
}

.container p {
  text-align: center;
}
